

div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} 

 body {
  background-color: #b3e5fc;
  border-radius: 10px;
  font-family: "Raleway", sans-serif;
}
h2 {
  text-align: center;
  margin: 20px 0;
}
.textLeft {
  text-align: left;
}

.card {
  width: 450px;
  border: none;
  border-radius: 10px;
  background-color: #fff;
}
.image {
  min-width: 155px;
  margin-right: 20px;
}
.stats {
  background: #f2f5f8 !important;
  color: #000 !important;
}
.public_repos {
  font-size: 10px;
  color: #a1aab9;
}
.number1 {
  font-weight: 500;
}
.public_gists {
  font-size: 10px;
  color: #a1aab9;
}
.number2 {
  font-weight: 500;
}
.timming {
  font-size: 10px;
  color: #a1aab9;
}
.number3 {
  font-weight: 500;
}






